.footer {
  padding: 2rem;
  text-align: center;
  color: white;
  background-color: #0f1117;
  border-top: 1px solid gray; /* Línea gris */
}

.footer .links {
  margin-bottom: 1rem;
}

.footer a {
  margin: 0 1rem;
  color: #3b82f6;
  text-decoration: none;
  font-size: 0.9rem;
  transition: opacity 0.3s ease;
}

.footer a:hover {
  opacity: 0.85;
}